@model SomeeMVC_4.Models.UsersModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-3">
    <div class="card-header"><i class="fa fa-fw fa-user"></i>Thông tin hồ sơ</div>
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="password">Mật khẩu</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password", @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            
            <div class="form-group">
                <label for="confirm-password">Xác nhận mật khẩu</label>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "confirm-password", @placeholder = "Xác nhận mật khẩu" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            
            <p>
                <input type="submit" class="btn btn-primary" value="Lưu lại" />
            </p>
            <p>@ViewBag.UpdateResult</p>
        }
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>